header{
background-color: #2591b3;
font-size: 1.5em;
}
section{
padding: 150px;
background-color: lightcoral;
margin: 1px;
display: inline-block;
}
article{
padding: 100px;
background-color: lightgreen;
margin: 1px;
box-sizing: border-box;
width: 66%;
}
aside{
float: right;
width: 33%;
box-sizing: border-box;}
footer{
background-color: #800080;
padding: 10px;
margin: 1px;
}
div{
width: 33%;
float: left;
padding: 50px;

}
.grey{
background-color: gray;

}
#comment{
padding: 100px;
}