
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background: url('https://wallpapers.com/images/hd/futuristic-desktop-1920-x-1080-k9gw6armkt7i7159.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  header {
    text-align: center;
    padding: 20px 0;
    background-color: #870b58; /* Background color for header with some transparency */
  }
  header img {
    max-width: 150px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Set a minimum height to ensure content appears */
    padding: 20px; /* Increase padding for spacing */
  }
  
  .wrapper {
    background: #ffffffc4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 30px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .chatbot-image {
    margin-top: 20px;
  }
  
  .chatbot-image img {
    max-width: 150px;
    border-radius: 50%;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dream {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  textarea {
    width: 100%;
    height: 120px;
    border: 1px solid #ccccccdc;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    resize: none;
  }
  
  .button {
    margin-top: 20px;
  }
  
  input[type="submit"] {
    background-color:#e94e0f;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover {
    background-color: #e94e0f;
  }
  
  /* Style the particles.js container */
  #particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  