body{ 
    background-image: url(./assets/img/galaxy\ gif.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
.bot img{
    width: 2cm;
    position: fixed;
}
.container{
    /* background-color: red; */
    position: absolute; 
    top: 20vh;
    height: 1cm; 
}
.title, .bot{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
.chats{
    /* max-height: 3cm; */
}
.sender{ 
    position: fixed;
    bottom: 20vh;
    right: 40vw;
}
.chats{
    color: white;
    position: absolute;
    flex-direction: column-reverse;
    width: 40vw;
    left: -5cm;
    bottom: -45vh;
    height: 700%;
    overflow-y: hidden;overflow-y: auto
}
/* Scroll bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 50%;
    height: 1cm;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0c01df; 
  }